<body class="background-color">
  <div class="container">
    <br>
    <h1 class="title-color">Ideabox</h1>
    <h5>
      The guy who dreamed up the snuggie is a millionaire - it's time you start
      tracking your brilliant ideas
    </h5>

    <br>

    <h5>What's on your mind?</h5>
    <div class='new-idea'>
      <input type='text' class='title idea-color' placeholder='topic'>
      <input type='text' class='body idea-color' placeholder='description'>
      <button class='btn orange accent-4' id='create-id'>Save Idea</button>
    </div>

    <br>

    <div class='search-field'>
      <h5>Search for an idea or click on an idea's title or description to edit</h5>
      <input type='search' class='search-bar title idea-color' placeholder='search'>
    </div>

    <br>

    <div id="ideas">
    </div>

    <br>
    <br>

  </div>
</body>
