<body class="background-color">
  <div class="container">
    <br>
    <h1 class="title-color">Ideabox</h1>
    <h5>
      The guy who dreamed up the snuggie is a millionaire...a millionaire!!! <br>
      It's time you start tracking your brilliant ideas
    </h5>

    <br>

    <h5>What's on your mind?</h5>
    <div>
      <input type='text' class='title idea-color' placeholder='topic'>
      <input type='text' class='body idea-color' placeholder='description'>
      <button class='btn orange accent-4' id='create-id'>Save Idea</button>
    </div>

    <br>

    <h5>Find a specific idea or view all below</h5>
    <div>
      <input type='search' class='search-bar title idea-color' placeholder='search'>
    </div>

    <br>

    <div id="ideas">
    </div>

    <br>
    <br>

  </div>
</body>
