<h1>Welcome to IdeaBox</h1>

<div id="ideas">
</div>

<br>

<div>
  <input type='text' id='title' placeholder = 'title'>
  <input type='text' id='body' placeholder = 'body'>
  <button id='create-id'>Save Idea</button>
</div>
