<div class="container">
  <br>
  <h1>Ideabox</h1>
  <h5>
    The guy who dreamed up the snuggie is a millionaire...a millionaire! <br>
    It's time you started tracking your brilliant ideas
  </h5>

  <h5>What's on your mind?</h5>
  <div>
    <input type='text' id='title' placeholder = 'topic'>
    <input type='text' id='body' placeholder = 'description'>
    <button class='btn btn-default' id='create-id'>Save Idea</button>
  </div>

  <br>

  <div id="ideas">
  </div>

  <br>
  <br>
</div>
