.background-color {
  background-color: #002244
}

.title-color {
  color: #ff6d00
}

h5 {
  color: #bdbdbd
}

p {
  color: #bdbdbd
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}
